.bg-primary{
    background:#477091!important;
    }
    
    .mt20{
    margin-top:20px;
    }
    
    .container-custom{
    width:95%!important;
    margin:auto;
    }
    .responsive-img{
    width:5px;
    height:50000px;
    }